// clk
NET "clk" LOC = B8;

// Nexys LEDS
#NET "LEDJ14" LOC = J14;
#NET "LEDJ15" LOC = J15;
#NET "LEDK15" LOC = K15;
#NET "LEDK14" LOC = K14;
#NET "LEDE17" LOC = E17;
#NET "LEDP15" LOC = P15;
#NET "LEDF4" LOC = F4;
#NET "LEDR4" LOC = R4;

// Nexys Switches
NET "reset" LOC = G18;
#NET "SWITCHG18" LOC = G18;
#NET "SWITCHH18" LOC = H18;
#NET "SWITCHK18" LOC = K18;
#NET "SWITCHK17" LOC = K17;
#NET "SWITCHL14" LOC = L14;
#NET "SWITCHL13" LOC = L13;
#NET "SWITCHN17" LOC = N17;
#NET "SWITCHR17" LOC = R17;

// LCD data
NET "lcd_regsel" LOC = C7;
NET "lcd_read" LOC = A6;
NET "lcd_enable" LOC = E7;
NET "lcd_data[0]" LOC = F7;
NET "lcd_data[1]" LOC = C5;
NET "lcd_data[2]" LOC = D5;
NET "lcd_data[3]" LOC = B6;
NET "lcd_data[4]" LOC = C4;
NET "lcd_data[5]" LOC = C3;
NET "lcd_data[6]" LOC = A4;
NET "lcd_data[7]" LOC = B4;

// Nexus anodes
#NET "anodes[0]" LOC = F17;
#NET "anodes[1]" LOC = H17;
#NET "anodes[2]" LOC = C18;
#NET "anodes[3]" LOC = F15;

// Segments on Nexys
#NET "segments[0]" LOC = L18;
#NET "segments[1]" LOC = F18;
#NET "segments[2]" LOC = D17;
#NET "segments[3]" LOC = D16;
#NET "segments[4]" LOC = G14;
#NET "segments[5]" LOC = J17;
#NET "segments[6]" LOC = H14;
#NET "segments[7]" LOC = C17;

// Simon buttons
NET "SimonBtnTL" LOC = E11;
NET "SimonBtnTR" LOC = A11;
NET "SimonBtnBL" LOC = B14;
NET "SimonBtnBR" LOC = B13;

// Nexys buttons
#NET "NexysBtnH13" LOC = H13;
#NET "NexysBtnE18" LOC = E18;
#NET "NexysBtnD18" LOC = D18;
#NET "NexysBtnB18" LOC = B18;

// Anodes
#NET "simonTens" LOC = F17;
#NET "simonOnes" LOC = H17;
#NET "NexysTens" LOC = C18;
#NET "NexysOnes" LOC = F15;

//top left button colour 
NET "led0[0]" LOC = C11;
NET "led0[1]" LOC = B11;
NET "led0[2]" LOC = E10;

//top right button colour 
NET "led1[0]" LOC = B10;
NET "led1[1]" LOC = A10;
NET "led1[2]" LOC = D10;

//bottom left button colour 
NET "led2[0]" LOC = D14;
NET "led2[1]" LOC = C14;
NET "led2[2]" LOC = A14;

//bottom right button colour 
NET "led3[0]" LOC = A13;
NET "led3[1]" LOC = F12;
NET "led3[2]" LOC = E12;

#simon speaker
#NET "speaker" LOC = B16;